#pButton{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-position: center;
    float: left;
}
#volumeBtn {
    height: 60px;
    width: 60px;
    border: 2px solid blue;
}
.play{background: url('/assets/play-fill.svg') no-repeat;}
.pause{background: url('/assets/pause-fill.svg') no-repeat;}
