#pButton{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-position: center;
    float: left;
	background-color: transparent;
}
#player-pause {
	display: none;
}
#pButton:hover div svg path {
	fill: #6FC5F0;
}
.showname {
	display: inline-block;
}
.showname p {
	display: inline-block;
}
label {
	color: black;
}
.volumeLabel:hover svg path {
	fill: #6FC5F0;
}
.player-button {
	color: black;
	display: inline-block;
}
.player-button:hover svg path {
	fill:  #6FC5F0;
}
#player-pop-up {
	margin-left: 20px;
}
/* CSS TRICKS CODE */

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
  }
  
  input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
  
	/* Hides the slider so custom styles can be added */
	background: transparent; 
	border-color: transparent;
	color: transparent;
  }


/* EQUALIZER CODE */ 

/* Slider *
 * ====== */
/* ## Slider main element */
input[type='range'] {
  display: block;
  margin: 0; 
  padding: 0;
  font-size: inherit;
  width: 168px; 
  height: 1.5em;
  border-radius: .25em;
  border-top: 2px solid #242424;
  border-bottom: 2px solid #242424;
  border-right: 5px solid #242424;
  border-left: 5px solid #242424;
  background-color: #242424;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow .2s linear;
  box-shadow: 0 0 0 0 transparent;
  /* transform: rotate(270deg); */
}
input[type='range']:focus { box-shadow: 0 0 0 .1em  #AAAAAA; }
input[type='range']:hover { box-shadow: 0 0 0 .15em #6FC5F0; }
  
input[type='range'] {
    display: inline-block; 
}
 
input[type='range']::-moz-range-thumb { 
	margin: .05em; 
	padding: 0;
    height: .9em; 
	width: 14px;
    border-radius: .1em; 
    box-sizing: border-box;
    border: none;
    background-color: #6FC5F0;
    box-shadow: -144px 0 0 0 #313131, -128px 0 0 0 #2F343F, -112px 0 0 0 #283F6B, -96px 0 0 0 #214893, -80px 0 0 0 #1A52BC, -64px 0 0 0 #2769D3, -48px 0 0 0 #3E87DC, -32px 0 0 0 #55A5E6, -16px 0 0 0 #6FC5F0, 16px 0 0 0 #181818, 32px 0 0 0 #181818, 48px 0 0 0 #181818, 64px 0 0 0 #181818, 80px 0 0 0 #181818, 96px 0 0 0 #181818, 112px 0 0 0 #181818, 128px 0 0 0 #181818, 144px 0 0 0 #181818;
    cursor: ew-resize;
}
/* */
/* ### Slider::-thumb */
input[type='range']::-webkit-slider-thumb {
    margin: .05em; 
	padding: 0;
    height: .9em; 
	width: 14px;
    border-radius: .1em; 
    box-sizing: border-box;
    border: none;
    background-color: #6FC5F0;
    box-shadow: -144px 0 0 0 #313131, -128px 0 0 0 #2F343F, -112px 0 0 0 #283F6B, -96px 0 0 0 #214893, -80px 0 0 0 #1A52BC, -64px 0 0 0 #2769D3, -48px 0 0 0 #3E87DC, -32px 0 0 0 #55A5E6, -16px 0 0 0 #6FC5F0, 16px 0 0 0 #181818, 32px 0 0 0 #181818, 48px 0 0 0 #181818, 64px 0 0 0 #181818, 80px 0 0 0 #181818, 96px 0 0 0 #181818, 112px 0 0 0 #181818, 128px 0 0 0 #181818, 144px 0 0 0 #181818;
    cursor: ew-resize;
} 

input[type='range']::-ms-thumb {
    margin: .05em; 
	padding: 0;
    height: .9em; 
	width: 14px;
    border-radius: .1em; 
    box-sizing: border-box;
    border: none;
    background-color: #6FC5F0;
	box-shadow: -144px 0 0 0 #313131, -128px 0 0 0 #2F343F, -112px 0 0 0 #283F6B, -96px 0 0 0 #214893, -80px 0 0 0 #1A52BC, -64px 0 0 0 #2769D3, -48px 0 0 0 #3E87DC, -32px 0 0 0 #55A5E6, -16px 0 0 0 #6FC5F0, 16px 0 0 0 #181818, 32px 0 0 0 #181818, 48px 0 0 0 #181818, 64px 0 0 0 #181818, 80px 0 0 0 #181818, 96px 0 0 0 #181818, 112px 0 0 0 #181818, 128px 0 0 0 #181818, 144px 0 0 0 #181818;
	cursor: ew-resize;
} 
/* ## Slider components */
/* ### Slider::-track */
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track,
input[type='range']::-ms-track { 
    border: none;
    background: none;
    height: 100%;
    width: 100%;
}
/* ## Browser tweaks */
/* ### webkit */
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}


